.footer {
    color: snow;
    padding: 30px 4%;
    max-width: 1000px;
    margin: 0 auto;
}

.footer .socail-icons {
    display: flex;
    gap: 20px;
    font-size: 25px;
    margin: 40px 0;
    cursor: pointer;
}

.footer h3 {
    margin: 10px 0;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 7px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 16px;
    list-style: none;
}

.footer ul li:hover {
    color: gray;
}

.footer .copyright {
    font-size: 14px;
    color: gray;
}